@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="container position-relative content-space-t-2 content-space-t-md-2 content-space-t-lg-2">
    <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-md-12 col-lg-12">
            <!-- Heading -->

            <div class="mb-7">
                <h1 class="text-danger">Error.</h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2>
                
                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }
            </div>
            <!-- End Title & Description -->
        </div>
        <!-- End Col -->
    </div>
</div>
